In [5]:
! pip install h5py

Requirement already satisfied: h5py in /opt/anaconda3/envs/rank_sl2r/lib/python3.8/site-packages (2.10.0)
Requirement already satisfied: six in /opt/anaconda3/envs/rank_sl2r/lib/python3.8/site-packages (from h5py) (1.15.0)
Requirement already satisfied: numpy>=1.7 in /opt/anaconda3/envs/rank_sl2r/lib/python3.8/site-packages (from h5py) (1.22.3)

In [11]:
import pandas as pd
import h5py
import numpy as np

In [26]:
#data = pd.read_hdf('btcusd-h-30/data.h5', "/random")
f = h5py.File('btcusd-h-30/data.h5', 'r')
f

In [27]:
list(f.keys())

['OB', 'Trades']

In [25]:
df

        0
0      OB
1  Trades

In [28]:
dset = f['OB']

In [29]:
dset

In [31]:
for name in f:
    print(name)

OB
Trades

In [81]:
df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']))
df

<ipython-input-81-70e97b3045aa>:1: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']))

      0
0   Ask
1  AskV
2   Bid
3  BidV
4    TS

In [75]:
df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['TS']))
df

<ipython-input-75-e687330e4cab>:1: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['TS']))

                    0
0        0.000000e+00
1        7.780000e+02
2        1.287000e+03
3        1.744000e+03
4        2.590000e+03
...               ...
9871637  6.479995e+09
9871638  6.479996e+09
9871639  6.479997e+09
9871640  6.479998e+09
9871641  6.479999e+09

[9871642 rows x 1 columns]

In [78]:
df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['Ask']))
df

<ipython-input-78-fb97e1d6ef8f>:1: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['Ask']))

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,9792.39,9792.44,9792.47,9792.48,9792.67,9794.12,9794.13,9794.89,9794.94,9794.95,...,9799.38,9799.45,9800.00,9800.37,9800.88,9802.27,9802.65,9802.92,9803.20,9803.48
1,9789.99,9790.19,9792.13,9792.35,9792.38,9792.39,9792.47,9792.48,9792.92,9792.94,...,9798.59,9798.88,9800.00,9800.88,9802.27,9802.44,9802.65,9802.92,9803.32,9803.48
2,9789.99,9790.19,9792.13,9792.35,9792.38,9792.39,9792.47,9792.48,9792.92,9792.94,...,9798.59,9798.88,9800.00,9800.88,9802.27,9802.44,9802.65,9802.92,9803.32,9803.48
3,9789.90,9789.98,9789.99,9790.19,9790.49,9792.13,9792.22,9792.38,9792.39,9792.46,...,9802.92,9803.48,9803.90,9804.37,9805.60,9807.57,9808.68,9811.25,9811.75,9811.94
4,9789.90,9789.98,9789.99,9790.19,9790.49,9792.13,9792.22,9792.38,9792.39,9792.46,...,9802.92,9803.48,9803.90,9804.37,9805.60,9807.57,9808.68,9811.25,9811.75,9811.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9871637,8233.40,8234.50,8234.53,8234.54,8234.60,8234.99,8235.58,8236.01,8236.03,8236.28,...,8238.62,8238.85,8238.91,8239.46,8239.99,8240.00,8240.01,8240.60,8240.63,8240.87
9871638,8233.13,8233.20,8233.33,8233.36,8233.37,8233.39,8233.40,8233.56,8234.53,8234.54,...,8238.24,8238.55,8238.56,8238.85,8238.91,8239.46,8239.77,8239.79,8239.94,8240.00
9871639,8233.03,8233.12,8233.19,8233.20,8233.39,8234.38,8234.54,8235.33,8235.34,8235.48,...,8239.44,8239.46,8239.79,8240.00,8240.01,8240.11,8240.16,8240.24,8240.53,8240.60
9871640,8232.42,8233.02,8233.19,8233.99,8234.05,8234.37,8234.38,8234.46,8235.27,8235.32,...,8238.56,8238.91,8239.44,8239.79,8240.00,8240.01,8240.06,8240.11,8240.16,8240.24
9871641,8232.41,8232.42,8234.05,8234.34,8234.37,8234.38,8235.32,8236.26,8236.71,8236.72,...,8239.44,8239.79,8240.00,8240.11,8240.53,8240.55,8240.60,8240.84,8240.96,8241.29

In [80]:
df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['AskV']))
df

<ipython-input-80-d56f2730d613>:1: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['AskV']))

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.057008,0.639431,1.739000,0.971500,0.700000,1.388600,0.1300,0.3274,0.381000,0.058800,...,1.226066,0.045706,0.000264,1.225300,0.122600,0.122500,0.153200,0.010000,2.452132,0.211843
1,0.900000,0.700000,1.000000,0.660194,0.889299,0.057008,1.2507,0.0863,0.816917,0.327400,...,0.400000,0.919409,0.000264,0.122600,0.122500,0.045253,0.153200,2.462370,0.090507,0.211843
2,0.900000,0.700000,1.000000,0.660194,0.889299,0.057008,1.2507,0.0863,0.816917,0.327400,...,0.400000,0.919409,0.000264,0.122600,0.122500,0.045253,0.153200,2.462370,0.090507,0.211843
3,0.054463,1.502706,0.943620,0.700000,0.200000,1.000000,0.3274,0.4219,0.054600,0.002185,...,2.462370,0.211843,0.040900,0.527055,0.001000,0.271520,0.001300,0.367400,0.290000,0.122400
4,0.054463,1.502706,0.943620,0.700000,0.200000,1.000000,0.3274,0.4219,0.054600,0.002185,...,2.462370,0.211843,0.040900,0.527055,0.001000,0.271520,0.001300,0.367400,0.290000,0.122400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9871637,0.500000,1.230785,1.079714,0.000400,0.260000,0.313852,0.6300,0.1140,0.010620,12.699994,...,0.001000,0.190905,7.600000,0.102486,0.009044,0.241800,0.023030,0.020868,0.942000,0.030500
9871638,0.642737,0.630000,0.014595,1.004684,1.166520,1.366566,0.2600,0.0650,0.395600,0.000400,...,0.009044,0.942300,0.900000,0.190905,7.600000,0.102486,0.015000,0.027500,0.035000,0.241800
9871639,0.064000,1.051843,0.010606,0.250000,0.218600,0.630000,0.0004,0.1956,0.114000,0.100000,...,0.051000,0.102486,0.027500,0.241800,0.023030,0.093600,0.364363,0.683583,0.437500,0.020868
9871640,0.014595,0.252026,0.003298,0.242474,0.000400,0.399800,0.6300,0.0700,0.015000,0.288700,...,0.900000,7.600000,0.051000,0.027500,0.241800,0.023030,3.279267,0.055600,0.364363,0.683583
9871641,0.243066,0.014595,0.000400,0.070000,0.010919,0.630000,0.0887,0.2000,0.200000,0.001000,...,0.051000,0.027500,0.241800,0.055600,0.437500,0.116600,0.020868,0.009044,0.426100,0.364348

In [ ]:
df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')))
df

In [69]:
Res = pd.DataFrame(np.array(h5py.File('btcusd-h-30/result.h5')['Return']['Res']))
TS = pd.DataFrame(np.array(h5py.File('btcusd-h-30/result.h5')['Return']['TS']))

<ipython-input-69-819bd3a65658>:1: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  Res = pd.DataFrame(np.array(h5py.File('btcusd-h-30/result.h5')['Return']['Res']))
<ipython-input-69-819bd3a65658>:2: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  TS = pd.DataFrame(np.array(h5py.File('btcusd-h-30/result.h5')['Return']['TS']))

In [70]:
Res

                0
0        0.000632
1        0.001178
2        0.001178
3        0.001182
4        0.001161
...           ...
9871637 -0.000138
9871638  0.000106
9871639  0.000038
9871640  0.000002
9871641  0.000000

[9871642 rows x 1 columns]

In [71]:
TS

                    0
0        0.000000e+00
1        7.780000e+02
2        1.287000e+03
3        1.744000e+03
4        2.590000e+03
...               ...
9871637  6.479995e+09
9871638  6.479996e+09
9871639  6.479997e+09
9871640  6.479998e+09
9871641  6.479999e+09

[9871642 rows x 1 columns]

In [58]:
df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['TS']))

<ipython-input-58-81684d878d07>:1: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['TS']))

In [ ]:
df = df.retype({'0': ''})

In [60]:
df.dtypes

0    float64
dtype: object

In [49]:
df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['Trades']['Price']))

<ipython-input-49-3e39f0cc8097>:1: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['Trades']['Price']))

In [50]:
df

                    0
0         9783.854924
1         9789.988042
2         9789.980000
3         9789.900000
4         9782.090000
...               ...
13004174  8234.080000
13004175  8233.120000
13004176  8231.800000
13004177  8232.410000
13004178  8232.120000

[13004179 rows x 1 columns]

In [46]:
df

                     0
0         2.730000e+02
1         9.660000e+02
2         9.970000e+02
3         1.287000e+03
4         1.287000e+03
...                ...
13004174  6.479993e+09
13004175  6.479995e+09
13004176  6.479997e+09
13004177  6.479999e+09
13004178  6.479999e+09

[13004179 rows x 1 columns]

In [39]:
df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['Ask']))

<ipython-input-39-1a0edcdcbf30>:1: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  df = pd.DataFrame(np.array(h5py.File('btcusd-h-30/data.h5')['OB']['Ask']))

In [40]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,9792.39,9792.44,9792.47,9792.48,9792.67,9794.12,9794.13,9794.89,9794.94,9794.95,...,9799.38,9799.45,9800.00,9800.37,9800.88,9802.27,9802.65,9802.92,9803.20,9803.48
1,9789.99,9790.19,9792.13,9792.35,9792.38,9792.39,9792.47,9792.48,9792.92,9792.94,...,9798.59,9798.88,9800.00,9800.88,9802.27,9802.44,9802.65,9802.92,9803.32,9803.48
2,9789.99,9790.19,9792.13,9792.35,9792.38,9792.39,9792.47,9792.48,9792.92,9792.94,...,9798.59,9798.88,9800.00,9800.88,9802.27,9802.44,9802.65,9802.92,9803.32,9803.48
3,9789.90,9789.98,9789.99,9790.19,9790.49,9792.13,9792.22,9792.38,9792.39,9792.46,...,9802.92,9803.48,9803.90,9804.37,9805.60,9807.57,9808.68,9811.25,9811.75,9811.94
4,9789.90,9789.98,9789.99,9790.19,9790.49,9792.13,9792.22,9792.38,9792.39,9792.46,...,9802.92,9803.48,9803.90,9804.37,9805.60,9807.57,9808.68,9811.25,9811.75,9811.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9871637,8233.40,8234.50,8234.53,8234.54,8234.60,8234.99,8235.58,8236.01,8236.03,8236.28,...,8238.62,8238.85,8238.91,8239.46,8239.99,8240.00,8240.01,8240.60,8240.63,8240.87
9871638,8233.13,8233.20,8233.33,8233.36,8233.37,8233.39,8233.40,8233.56,8234.53,8234.54,...,8238.24,8238.55,8238.56,8238.85,8238.91,8239.46,8239.77,8239.79,8239.94,8240.00
9871639,8233.03,8233.12,8233.19,8233.20,8233.39,8234.38,8234.54,8235.33,8235.34,8235.48,...,8239.44,8239.46,8239.79,8240.00,8240.01,8240.11,8240.16,8240.24,8240.53,8240.60
9871640,8232.42,8233.02,8233.19,8233.99,8234.05,8234.37,8234.38,8234.46,8235.27,8235.32,...,8238.56,8238.91,8239.44,8239.79,8240.00,8240.01,8240.06,8240.11,8240.16,8240.24
9871641,8232.41,8232.42,8234.05,8234.34,8234.37,8234.38,8235.32,8236.26,8236.71,8236.72,...,8239.44,8239.79,8240.00,8240.11,8240.53,8240.55,8240.60,8240.84,8240.96,8241.29